h2 {
  margin-top: 20px;
  font-weight: bold;
}

.card {
  margin-top: 10px;
}

math {
  font-size: 125%;
}

.hidden {
  display: none;
}

nav .nav-item .active {
  border-radius: 4px !important;
}

.btn-link {
  outline: none !important;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h6.dropdown-header {
  color: white;
}

footer a {
  color: blue;
}

[data-bs-theme="light"] {
  a {
    color: #0050FF;
  }

  a.btn-primary {
    color: white;
  }

  nav .nav-link {
    color: white;
  }

  nav .nav-link:hover {
    color: #FFA;
  }

  nav a {
    color: white;
  }

  nav .nav-item .active {
    background-color: #14E !important;
  }

  .footerPrivacyInfo {
    color: black;
  }
}

[data-bs-theme="dark"] {
  .bg-primary {
  background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity)) !important;
  }

  .bg-light {
    background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity)) !important;
  }

  footer a {
    color: rgb(139, 185, 254)
  }
}

.menuButtonTitleShort {
  display: none;
}

@media only screen and (max-width: 550px) {
  .menuButtonTitle {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .menuButtonTitleLong {
    display: none;
  }
  .menuButtonTitleShort {
    display: inline;
  }
}