h2 {
  margin-top: 20px;
  font-weight: bold;
}

.card {
  margin-top: 10px;
}

math {
  font-size: 125%;
}

.hidden {
  display: none;
}

h6.dropdown-header {
  color: white;
}

a {
  color: #0050FF;
}

nav .nav-link {
  color: white;
}

nav .nav-link:hover {
  color: #FFA;
}

nav .nav-item .active {
  background-color: #14E !important;
  border-radius: 4px !important;
}

.menuButtonTitleShort {
  display: none;
}

@media only screen and (max-width: 550px) {
  .menuButtonTitle {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .menuButtonTitleLong {
    display: none;
  }
  .menuButtonTitleShort {
    display: inline;
  }
}